@using Microsoft.AspNetCore.Identity
@model AuktionBudViewModel
@inject UserManager<NauktionUser> UserManager
@{
    string author = string.IsNullOrWhiteSpace(Model.SkapadAv)
        ? "<not found>"
        : (await UserManager.FindByIdAsync(Model.SkapadAv)
            ?? await UserManager.FindByEmailAsync(Model.SkapadAv))?.UserName
            ?? "<not found>";

    ViewData["Title"] = Model.Titel;
    ViewData["Message"] = $"Auktion skapad av {author}";
}


<div class="row">
    <div class="col-sm-6">
        <h2 class="label label-success auktion-money" style="margin-top: 0;">@Model.HighestBid.ToString("C0")</h2>
        <p>
            Utropspris: <span class="badge">@Model.Utropspris.ToString("C0")</span>
        </p>
        <p>
            Högsta bud: <span class="badge">@(Model.Bids.Count == 0 ? "N/A" : Model.HighestBid.ToString("C0"))</span>
        </p>
        <p>
            Antal bud: @Model.Bids.Count st
        </p>
    </div>
    <div class="col-sm-6">
        <p>
            @Model.Beskrivning
        </p>
        <hr/>
        <p class="text-muted">
            @(Model.IsClosed ? "Avslutades" : "Avslutas") @Model.TimeUntilEndFormatted<br />
            @Model.SlutDatum.ToString("f")
        </p>
        <p class="text-muted">
            @(Model.IsClosed ? "Öppnades" : "Öppnas") @Model.TimeSinceStartFormatted<br />
            @Model.StartDatum.ToString("f")
        </p>
    </div>
</div>