@using System.Security.Principal
@using Microsoft.AspNetCore.Identity
@model AuktionBudViewModel
@inject UserManager<NauktionUser> UserManager
@{
    NauktionUser author = string.IsNullOrWhiteSpace(Model.SkapadAv)
        ? null : await UserManager.FindByIdAsync(Model.SkapadAv);
    NauktionUser winner = string.IsNullOrEmpty(Model.HighestBid?.Budgivare)
        ? null : await UserManager.FindByIdAsync(Model.HighestBid.Budgivare);

    bool youWon = (await UserManager.GetUserAsync(User)).Id == winner?.Id;
    bool justBidded = TempData["BidSuccess"] is true;

    var bidding = new BiddingViewModel
    {
        AuktionID = Model.AuktionID,
        Summa = Model.MaxedPrice * 10 / 10 + 10,
    };

    if (TempData["BidErrors"] is string[] errors)
    {
        bidding.Errors.AddRange(errors);
    }

    string authorName = author?.UserName ?? "<not found>";
    string winnerName = winner?.UserName ?? "<not found>";

    ViewData["Title"] = Model.Titel;
    ViewData["Message"] = $"Auktion skapad av {authorName}";
}


<div class="row">
    <div class="col-xs-12">
        @if (Model.IsClosed)
        {
            if (Model.HighestBid is null)
            {
                <div class="alert alert-warning">
                    <strong>Auktion över! Ingen vann denna auktion!</strong> Auktionen har stängts och det blev inga bud under auktionens livstid.
                </div>
            }
            else
            {
                <div class="alert alert-success">
                    <strong>Auktion över! Grattis till @winnerName som vann auktionen!</strong> Auktionen har stängts. Det går alltså inte att buda på denna auktion längre.
                </div>
            }
        }
        @if (justBidded)
        {
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Ditt bud är lagt!</strong> Ditt bud har lyckats läggas på denna auktion.
            </div>
        }
    </div>
    <div class="col-sm-6">
        <h2 class="label label-success auktion-money" style="margin-top: 0;">@Model.MaxedPrice.ToString("C0")</h2>
        <p>
            Utropspris: <span class="badge">@Model.Utropspris.ToString("C0")</span>
        </p>
        <p>
            Högsta bud: <span class="badge">@(Model.Bids.Count == 0 ? "N/A" : Model.MaxedPrice.ToString("C0"))</span>
        </p>
        <p>
            Antal bud: @Model.Bids.Count st
        </p>
        <hr/>
        <partial name="_AuktionBiddingPartialView" model="@bidding" view-data="@ViewData"/>
    </div>
    <div class="col-sm-6">
        <div>
            @Model.Beskrivning
        </div>
        <hr/>
        <p class="text-muted">
            @(Model.IsClosed ? "Avslutades" : "Avslutas") @Model.TimeUntilEndFormatted<br/>
            @Model.SlutDatum.ToString("f")
        </p>
        <p class="text-muted">
            @(Model.IsClosed ? "Öppnades" : "Öppnas") @Model.TimeSinceStartFormatted<br/>
            @Model.StartDatum.ToString("f")
        </p>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}
